---
---

@import "variables";
@import "mixins";

// Generics

.center {
  text-align: center;
}

// Headers

h5 {
  border-bottom: 1px dotted #ddd;
}

// Hobby Items

.hobby-row {
  display: flex;
  justify-content: space-between;
}

.hobby-item {
  border: 1px solid #fff;
  padding: 20px;
  height: 90px;
  width: 90px;
  vertical-align: middle;
  border-radius: 50%;
  text-align: center;
  margin: 5px;

  span.fa {
    font-size: 36px;
  }
}

// Masonry Grid

.grid-item--width1 {
  width: 100%;
}

.grid .grid-item {
  padding: 10px;
  text-align: left;
  margin-bottom: 10px;
}

.grid-item--width2 {
  width: 100%;
}

@media(min-width: 767px) {
  .grid-sizer, .grid-item--width2 {
    width: 50%;
  }
}