---
---

@import "variables";
@import "mixins";

#instagram:hover a {
    opacity: 0.7;
}

#instagram a {
    padding:5px 5px 1px 5px;
    margin:10px;
    display:inline-block;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    
    &:hover {
        opacity: 1;
        
        .likes {
            opacity: 1;
        }
    }
}

#instagram img {
    padding: 0;
    margin: 0;
    border: 0;
}

#instagram .likes {
    background: rgba(197, 128, 255, 0.7);
    font-family:sans-serif;
    font-size:1em;
    position:absolute;
    color:#ffffff;
    right:5px;
    top:5px;
    left:5px;
    opacity:0;
    width: 150px;
    height: 150px;
    text-align:center;
    line-height:150px;
    position: absolute;
    text-shadow:0 1px rgba(0,0,0,0.5);
    -webkit-font-smoothing:antialiased;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

#load-more {
    font-size: 15px;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    display: inline-block;
    border: .5px solid #ddd;
    cursor: pointer;
    background: $dark;
    color: $light;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    
    &:hover {
        background: $light;
        color: $dark;
        -webkit-box-shadow: inset 0px 0px 3px 3px rgba(178, 178, 178, 0.1);
        -moz-box-shadow: inset 0px 0px 3px 3px rgba(178, 178, 178, 0.1);
        -o-box-shadow: inset 0px 0px 3px 3px rgba(178, 178, 178, 0.1);
        box-shadow: inset 0px 0px 3px 3px rgba(178, 178, 178, 0.1);
    }
}