---
---

@import "variables";
@import "mixins";

/*-- Images --*/
img {
    max-width: 100%;
}

.post_img {
    margin-bottom: 45px;

    img {
        margin-bottom: 10px;
    }
}

/*-- Styling Embeds --*/
.video_container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    text-align: right;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.video_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*-- Syntax-Highlighting --*/
.content-section pre {
    padding: 0;
    margin-bottom: 25px;

    code {
        text-align: left;    
    }
}