---
---

@import "variables";
@import "mixins";

/* * * * * * * * * * *
 *  Post Header
 * * * * * * * * * * */
.post-description {
    margin-bottom: 10px;

    p {
        color: #777;
        font-size: 16px;
        font-style: italic;
    }
}

.title_img {
    position: relative;
    margin-bottom: 75px;

    /*This is used to hide the figcaption*/
    overflow-y: hidden;

    img {
      max-width: 100%;
    }

    figcaption {
        background: rgba(0,0,0, 0.5);
        width: 100%;
        padding: 10px 0;
        color: #eee;
        text-align: center;

        position: absolute;
        bottom: 0;
        margin-bottom: -50px;
        z-index: 1;
    }
}

/* * * * * * * * * * *
 *  Post Body - Image Styling
 * * * * * * * * * * */
.post_content img {
    max-width: 100%;
}

.post_img {
    margin-bottom: 45px;
    cursor: pointer;

    img {
        margin-bottom: 10px;
    }
}

/* * * * * * * * * * *
 *  Post Body - Embedment Styling
 * * * * * * * * * * */
.video_container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    text-align: right;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.video_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* * * * * * * * * * *
 *  Post Body - Syntax Highlighting
 * * * * * * * * * * */
.content-section pre {
    padding: 0;
    margin-bottom: 25px;

    code {
        text-align: left;    
    }
}

/* * * * * * * * * * *
 *  Pagination
 * * * * * * * * * * */
.pagination {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    div {
        padding: 20px 0px;
        max-width: 40%;
    }

    a {
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }
}

