---
---

@import "mixins";
@import "variables";

section#til {
  padding-left: 15px;
  padding-right: 15px;
}

.outer-container__til {
  text-align: left;
}

.post-container__til {
  display: grid;
  grid-template-columns: 30% 70%;

  .post-info-container__til {
    display: grid;
    align-content: center;
    font-size: 18px;

    .post-info__til {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: left;

      li {
        margin: 5px 0;
      }
    }
  }

  .post-content__til {
    .post-title__til h1 {
      text-transform: none;
      font-size: 30px;
      margin-bottom: 15px;
    }

    .post-excerpt__til {
      font-size: 24px;

      a:link span {
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
      }

      a:hover span {
        margin-left: 5px;
      }
    }
  }
}

#loadMore__til {
  width: 25%;
  margin: 50px auto;
  padding: 10px 20px;
  border: 1px solid $light;
  cursor: pointer;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;

  &:hover {
    background: #bbb;
    border-color: #bbb;
    color: #000;
  }
}

@media screen and (max-width: 767px) {
  .post-container__til {
    display: block;

    .post-info-container__til {
      display: block;
      font-size: 14px;
      
      .post-info__til {
        margin: 10px 0;
        display: grid;
        grid-template-columns: 50% 50%;
      }
    }

    .post-content__til {

      .post-title__til h1 {
        font-size: 24px;
      }

      .post-excerpt__til {
        font-size: 20px;
      }
    }
  }

  #loadMore__til {
    width: 50%;
  }
}
