
<!-- Comments Start -->

  {% capture post_slug %}{{ page.date | date: "%Y-%m-%d"  }}-{{ page.title | slugify }}{% endcapture %}

  <div id="comments-container">
    <h3>Comments <span class="fa fa-comment-o"></span></h3>
    <div class="comments">
      {% if site.data.comments[post_slug] %}
        {% assign comments = site.data.comments[post_slug] | sort %}

        {% for comment in comments %}
          {% assign author=comment[1].name %}
          {% assign email=comment[1].email %}
          {% assign url=comment[1].url %}
          {% assign date=comment[1].date %}
          {% assign msg=comment[1].msg %}

          {% include comment.html index=forloop.index author=author email=email url=url date=date message=msg %}
        {% endfor %}
      {% else %}
        There are currently no comments. :'(
      {% endif %}
    </div>
    <h4>Post a new comment</h4>
    {% include new-comment.html %}
  </div>

<!-- Comments End -->
