/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

.copyright {
    width: 100%;
    font-size: $smaller-font-size;
    text-align: center;
    margin: 10px auto;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post {
    width: 90%;
    margin: 0 auto;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    font-family: $post-typeface;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Buttons
 */
 #bigbtn {
    width: 45%;
    background: #e9e9e9;
    padding: 20px;
    border-radius: 20px;
 }

#bigbtn:hover {
    background: #d9d9d9;
}

/**
 * Japorized
 */
 .my_avatar {
    max-width: 128px;
    max-height: 128px;
 }

 #my_desc {
    font-family: $base-font-family !important;
    width: 50%;
    margin: 10px auto;
    text-align: center;
    color: #898989;
    font-size: $small-font-size;
 }

 /**
  * CV
  */
  h1#cv_header {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    border-bottom: 0.5px solid #ccc;
    position: relative;
  }

  .section-container {
    margin-bottom: 50px;
    padding: 40px;
    text-align: center;
    @extend %clearfix;
  }

  .my_picture {
    float: left;
    vertical-align: top;
    width: 150px;
    height: 150px;
  }

  .my_details {
    margin-left: 30px;
    vertical-align: top;
    float: left;
    width: 495px;
    font-size: $small-font-size;
    text-align: left;

    h1 {
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        -webkit-margin-after: 0 !important;
    }

    span {
        color: #00a0dd;
    }

    ul {
        list-style: none;
        margin: 0;
        margin-top: 10px;

        li.label-left {
            float: left;
            width: 110px;
        }
    }
  }

  .skillstab {
    ul {
        list-style: none;
        display: inline-block;

        li {
            float: left;
            width: 150px;
            padding: 10px;
            margin: 0 10px;
            border: .5px solid #ddd;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -o-border-radius: 10px;
            border-radius: 10px;
            cursor: pointer;

            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;

            &.skill_active, &:active {
                background: #eee;
                -webkit-box-shadow: inset 0px 0px 5px 5px rgba(178, 178, 178, 0.3);
                -moz-box-shadow: inset 0px 0px 5px 5px rgba(178, 178, 178, 0.3);
                -o-box-shadow: inset 0px 0px 5px 5px rgba(178, 178, 178, 0.3);
                box-shadow: inset 0px 0px 5px 5px rgba(178, 178, 178, 0.3);
            }

            &:hover {
                background: #eee;
            }
        }
    }
  }

  /*
   * Pies
   */
    .outer_pieContainer {
        display: inline-block;
    }

    .pieContainer {
        position: relative;
        height: 150px;
        width: 150px;
        padding: 20px;
        float: left;
        margin: 0 20px;
    }
    .pieBackground {
        z-index: 2;
        background: #fdfdfd;
        height: 125px;
        width: 125px;
        position: absolute;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        margin-top: 12.5px;
        margin-left: 12.5px;
    }
    .pieDesc {
        position: absolute;
        font-size: 14px;
        height: 130px;
        width: 130px;
        padding: 10px;
        z-index: 3;
        display: table;

        span {
            display: table-cell;
            color: #000;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
        }
    }
    .half1 {
        position: absolute;
        height: 150px;
        width: 150px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -o-border-radius: 50px;
        border-radius: 50px;
    }
    .half2 {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .pie-mask {
        position: absolute;
        width: 150px;
        height: 150px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
    }
    .pie {
        background: #adff2f;
        position: absolute;
        height: 150px;
        width: 150px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        clip: rect(0, 75px, 150px, 0);
    }

    /*
     * Bars
     */

    .outer_barContainer {
        text-align: left;
        display: none;

        ul {
            list-style: none;
            display: inline-block;
            margin: 0;
            margin-left: 0;

            li {
                &.label-left {
                    float: left;
                    width: 150px;
                    height: 30px;
                    vertical-align: middle;
                    font-weight: bold;
                    font-size: 14px;
                }
            }
        }
    }

    .barContainer {
        height: 22px;
        padding: 4px;
        vertical-align: middle;
    }

    .bar {
            height: 16px;
            margin-left: 150px;
    }