// Mixins
 /**
  * CV
  */
  h1#cv_header {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    border-bottom: 0.5px solid #ccc;
    position: relative;
  }

  .section-container {
    margin-bottom: 50px;
    padding: 40px;
    text-align: center;
  }

  .my_picture {
    float: left;
    vertical-align: top;
    width: 150px;
    height: 150px;
  }

  .my_details {
    margin-left: 30px;
    vertical-align: top;
    width: 495px;
    font-size: 10px;
    text-align: left;

    h1 {
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        -webkit-margin-after: 0 !important;
    }

    span {
        color: #00a0dd;
    }

    ul {
        list-style: none;
        margin: 0;
        margin-top: 10px;

        li.label-left {
            float: left;
            width: 110px;
        }
    }
  }

  .skillstab {
    ul {
        list-style: none;
        display: block;
        text-align: center;

        li {
            margin: 0 10px;
            display: inline;

            a {
                font-size: 2vmin;
                width: 25vmin;
                padding: 10px 20px;
                display: inline-block;
                border: .5px solid #ddd;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -o-border-radius: 10px;
            border-radius: 10px;
            cursor: pointer;
            background: $dark;
            color: $light;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            }
            
            &.skill_active, &:active {
                a {
                background: $light;
                color: $dark;
                -webkit-box-shadow: inset 0px 0px 5px 5px rgba(178, 178, 178, 0.3);
                -moz-box-shadow: inset 0px 0px 5px 5px rgba(178, 178, 178, 0.3);
                -o-box-shadow: inset 0px 0px 5px 5px rgba(178, 178, 178, 0.3);
                box-shadow: inset 0px 0px 5px 5px rgba(178, 178, 178, 0.3);
                }
            }

            &:hover {
                a {
                background: $light;
                color: $dark;
                -webkit-box-shadow: inset 0px 0px 3px 3px rgba(178, 178, 178, 0.1);
                -moz-box-shadow: inset 0px 0px 3px 3px rgba(178, 178, 178, 0.1);
                -o-box-shadow: inset 0px 0px 3px 3px rgba(178, 178, 178, 0.1);
                box-shadow: inset 0px 0px 3px 3px rgba(178, 178, 178, 0.1);
                }
            }
        }
    }
  }

  /*
   * Pies
   */
    .outer_pieContainer {
        display: inline-block;
    }

    .pieContainer {
        position: relative;
        height: 150px;
        width: 150px;
        padding-top: 20px;
        float: left;
        margin: 0 20px;
    }
    .pieBackground {
        z-index: 2;
        background: $dark;
        height: 125px;
        width: 125px;
        position: absolute;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        margin-top: 12.5px;
        margin-left: 12.5px;
    }
    .pieDesc {
        position: absolute;
        font-size: 14px;
        height: 150px;
        width: 150px;
        padding: 10px;
        z-index: 3;
        display: table;

        span {
            display: table-cell;
            color: $light;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
        }
    }
    .half1 {
        position: absolute;
        height: 150px;
        width: 150px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -o-border-radius: 50px;
        border-radius: 50px;
    }
    .half2 {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .pie-mask {
        position: absolute;
        width: 150px;
        height: 150px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
    }
    .pie {
        background: $dark;
        position: absolute;
        height: 150px;
        width: 150px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        clip: rect(0, 75px, 150px, 0);
    }

    /*
     * Bars
     */

    .outer_barContainer {
        text-align: left;
        display: none;
        
        div {
            &.label-left {
                float: left;
                width: 25%;
                vertical-align: middle;
                font-weight: bold;
                font-size: 14px;
                line-height: 14px;
            }
            
            &.skill-bar {
                width: 67.5%;
                margin-left: 25%;
                background-color: #2e2e2e;
                border: 1px solid #3f3f3f;
                
                div.skill-width {
                    height: 14px;
                }
            }
        }
        
    }