// Variables

$primary: #c576ff;
$dark: #000;
$light: #fff;

$sm-nav-padding: 15px;
$top-margin-after-sm-nav: $sm-nav-padding * 2 + 20px;

$lg-nav-padding: 30px;
$lg-nav-item-line-height: 20px;
$top-margin-after-lg-nav: $lg-nav-padding * 2 + $lg-nav-item-line-height;

$lg-nav-collapsed-vertical-padding: 13px;
$top-margin-after-lg-nav-collapse: $lg-nav-collapsed-vertical-padding * 2 + $lg-nav-item-line-height;
