// Colors
$primary: #c576ff;
$dark: #000;
$dark-font: #777;
$light: #ededed;

// Fonts
$font-headers: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
$font-body: "Cormorant+Garamond", serif;

// Navigation
$sm-nav-padding: 15px;

$lg-nav-padding: 30px;
$lg-nav-item-line-height: 20px;

$lg-nav-collapsed-vertical-padding: 13px;
