
<!-- Post Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% include navigation.html %}

    <section id="{{ page.title }}" class="container content-section text-center"> 
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <h1><strong>{{ page.title }}</strong></h1>
          <h4><strong>{{ page.date | date:"%A, %B %d, %Y" }}</strong>
            <small> . <span class="fa fa-folder-open-o"></span> <a href="{{site.baseurl}}/categories/{{ page.category }}.html">{{ page.category }}</a> . <a class="page-scroll" href="#comments-container">{% include aids/count-comments.html post=page %} Comments</a><br />
            {% for tag in page.tags %}
              <a href="{{site.baseurl}}/tags/{{tag}}.html">#{{ tag }}</a>
            {% endfor %}

            </small>
          </h4>
        </div>
        <div class="col-1"></div>
      </div>
      

      {% unless page.description == blank %}
      <div class="row post-description">
        <div class="col-2"></div>
          <p class="post_desc col-8">{{ page.description }}</p>
        <div class="col-2"></div>
      </div>
      {% endunless %}

      {% unless page.title-img == blank %}
        {% assign a = page.title-img | slice: 0, 4 %}

        {% capture post_slug %}{{ page.date | date: "%Y-%m-%d"  }}-{{ page.title | slugify }}{% endcapture %}

        {% if a != 'http' %}
          <div class="row">
            <figure class="title_img">
              <img id="title_img" src="/img/posts/{{ post_slug }}/{{ page.title-img }}" />
              <figcaption>{{ page.title-img-caption }}</figcaption>
            </figure>
          </div>
        {% else %}
          <div class="row">
            <figure class="title_img">
              <img id="title_img" src="{{ page.title-img }}" />
              <figcaption>{{ page.title-img-caption }}</figcaption>
            </figure>
          </div>
        {% endif %}
      {% endunless %}
    
      <div class="row">
        <div class="col-2 hide-phone"></div>
        <div class="post_content col-9">

          {{ page.content | markdownify }}

          <div class="signature">- Japorized -</div>

          {% include pagination.html %}

          {% include share.html %}

          {% include comments.html %}

        </div>
        <div class="col-2 hide-phone"></div>
      </div>
    </section>

    <section id="{{ page.title }}" class="container content-section text-center">
      <div class="row">
        <div class="col-2 hide-phone"></div>
        <div class="col-8">
          {% include social-buttons.html %}
        </div>
        <div class="col-2 hide-phone"></div>
      </div>
    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Post Layout End -->
