<!-- Post list with extract Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">
	{% include head.html %}

	<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

		{% include navigation.html %}

		<section id="{{ page.title }}" class="text-center" style="padding: 100px 10px 0 10px;">
			<div class="row">
				<div class="col-1"></div>
				<div class="col-10">
					{{ page.content | markdownify }}

					<div id="blog_container" data-curPage="{{ paginator.page }}" data-totalPages="{{ paginator.total_pages }}">

						{% for post in paginator.posts %}
							{% if forloop.index0 != 0 %}
								{% if forloop.index0 == 1 %}
								<div class="grid">
									<div class="grid-sizer"></div>
								{% endif %}

								<article class="grid-item">
									<p class="post-info">{{ post.date | date:"%A, %b %d, %Y" }} <a class="category" href="{{site.baseurl}}/categories/{{post.category | downcase}}.html">. {{ post.category | upcase }} .</a> <a href="{{site.baseurl}}{{post.url}}#disqus_thread">Comments</a></p>

									<br style="line-height: 20px;" />

									<a class="post_catalog_title" href="{{site.baseurl}}{{post.url}}"><h1 class="medium-title">{{post.title}}</h1>

                  {% assign post_excerpt = post.content | truncatewords: 50 %}
									<span class="article_excerpt">{{post_excerpt | strip_html | markdownify }}</span>

									<span class="read_more">Read More</span>
										</a>
								</article>

								{% if forloop.last %}
								</div>
								{% endif %}

							{% else %}
								<div class="row">
								<article class="col-12">
									<p class="post-info" style="text-align: center;">{{ post.date | date:"%A, %b %d, %Y" }} <a class="category" href="{{site.baseurl}}/categories/{{post.category | downcase}}.html">. {{ post.category | upcase }} .</a> <a href="{{site.baseurl}}{{post.url}}#disqus_thread">Comments</a></p>

									<br />

									<a class="post_catalog_title" href="{{site.baseurl}}{{post.url}}"><h1 class="large-title">{{post.title}}</h1>

                  {% assign post_excerpt = post.content | truncatewords: 100 %}
									<span class="article_excerpt">{{post_excerpt | strip_html | markdownify }}</span>

									<span class="read_more">Read More</span>
									</a>
								</article>
								</div>
							{% endif %}
						{% endfor %}

					</div>
				</div>
				<div class="col-1"></div>
			</div>

			<div style="clear:both;" />

			{% assign postCount = site.posts | size %}
			{% assign postsCovered = site.paginate | plus:offset %}
			{% if postsCovered < postCount %}
			<div class="row">  
			  <div class="col-3"></div>
			  <div class="col-6 loader loadMore">
			  	<span class="loadMore_txt">Load more posts</span>
			  	<div class="pacman" style="display: none;">
			  		<div></div>
			  		<div></div>
			  		<div></div>
			  		<div></div>
			  		<div></div>
			  	</div>
			  </div>
			  <div class="col-3"></div>
			</div>
			{% endif %}
		</section>

		<section id="{{ page.title }}" class="container content-section text-center">
			<div class="row">
				<div class="col-2"></div>
				<div class="col-8">
					{% include social-buttons.html %}
				</div>
				<div class="col-2"></div>
			</div>
		</section>

		{% include footer.html %}

		{% include js.html %}

	</body>
</html>


<!-- Post list with extract Layout End -->