
<!-- Post Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% include navigation.html %}

    <div class="big-paginations">

    <div class="paginate-newer"> <div>Newer</div> </div>
    <div class="paginate-older"> <div>Older</div> </div>
    <div class="paginate-hovered-title">
      <h1 class="paginate-upcoming-title"></h1>
      <br />
      <span class="paginate-upcoming-description"></span>
    </div>
    </div>

    <section id="{{ page.title }}" class="container content-section text-center">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <h1><strong>{{ page.title }}</strong></h1>
          <h4><strong>{{ page.date | date:"%A, %B %d, %Y" }}</strong>
            <small> . <span class="fa fa-folder-open-o"></span> <a href="{{site.baseurl}}/categories/{{ page.category }}.html">{{ page.category }}</a> . <a href="{{site.baseurl}}{{page.url }}#disqus_thread">Comments</a><br />
            {% for tag in page.tags %}
              <a href="{{site.baseurl}}/tags/{{tag}}.html">#{{ tag }}</a>
            {% endfor %}
            </small>
          </h4>
        </div>
        <div class="col-1"></div>
      </div>
      

      {% unless page.description == blank %}
      <div class="row post-description">
        <div class="col-2"></div>
        <p class="post_desc col-8">{{ page.description }}</p>
        <div class="col-2"></div>
      </div>
      {% endunless %}

      {% unless page.title-img == blank %}
      <figure class="title_img">
        <img src="/img/posts/{{ page.title-img }}" />
        <figcaption>{{ page.title-img-caption }}</figcaption>
      </figure>
      {% endunless %}
    

      <div class="row">
        <div class="col-1 hide-phone"></div>
        <div class="post_content col-10">

          {{ page.content | markdownify }}

          {% include share.html %}

          {% include comments.html %}

        </div>
        <div class="col-1 hide-phone"></div>
      </div>
    </section>

    <section id="{{ page.title }}" class="container content-section text-center">
      <div class="row">
        <div class="col-2 hide-phone"></div>
        <div class="col-8">
          {% include social-buttons.html %}
        </div>
        <div class="col-2 hide-phone"></div>
      </div>
    </section>

    {% include footer.html %}

    {% include js.html %}

    <script>
    {% if page.next.id == nil %}
    $(".paginate-newer").hide();
    {% else %}
    $(".paginate-newer")
      .click(function(event) {
        window.location.href = "{{site.baseurl}}{{page.next.url}}";
      })
      .stop()
      .hover(function() {
          $(".paginate-hovered-title").fadeIn('fast');
          $(".paginate-upcoming-title").html("Next Post: {{page.next.title}}")
          $(".paginate-upcoming-description").text("{{page.next.description}}");
        }, function() {
          $(".paginate-hovered-title").hide();
    });

    $("body").keydown(function(e) {
      if( e.keyCode == 37 && $(".search").css('display') == "none" ) { // left
        window.location.href = "{{site.baseurl}}{{page.next.url}}";
      }
    });
    {% endif %}

    {% if page.previous.id == nil %}
    $(".paginate-older").hide();
    {% else %}
    $(".paginate-older")
      .click(function(event) {
        window.location.href = "{{site.baseurl}}{{page.previous.url}}";
      })
      .stop()
      .hover(function() {
          $(".paginate-hovered-title").fadeIn('fast');
          $(".paginate-upcoming-title").html("Previous Post: {{page.previous.title}}")
          $(".paginate-upcoming-description").text("{{page.previous.description}}");
      }, function() {
          $(".paginate-hovered-title").hide();
    });

    $("body").keydown(function(e) {
      if( e.keyCode == 39 && $(".search").css('display') == "none" ) { // right
        window.location.href = "{{site.baseurl}}{{page.previous.url}}";
      }
    });
    {% endif %}
    </script>

  </body>
</html>

<!-- Post Layout End -->
