
<!-- Tag Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% include navigation.html %}

    <section id="{{ page.title }}" class="container content-section text-center">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8" id="archives">
            
          {% assign tag = page.title %}

          <h3 id="#{{ tag }}">#{{ tag }}</h3>

          {% for post in site.posts %}
            {% if post.tags contains tag %}

            {% capture counter %}{{ counter | plus: 1 }}{% endcapture %}
            {% capture remainder %}{{ counter | modulo: 2 }}{% endcapture %}

            {% if remainder == "1" %}
            <div class="row">
            {% endif %}

              <div class="col-6">
                <h5 align="left"><strong>{{ post.date | date_to_string }}</strong> <small>. {{ post.category }} .</small></h5>
                <h4 align="left"> <a href="{{site.baseurl}}{{ post.url }}"> <strong>{{ post.title }} </strong></a> <small><a href="{{site.baseurl}}{{post.url}}#disqus_thread">Comments</a></small></h4>
                {{ post.excerpt | truncatewords: 50 | strip_html | markdownify }}
              </div>

            {% if remainder == "0" or forloop.last %}
            </div>
            {% endif %}

            {% endif %}
          {% endfor %}

        </div>
        <div class="col-2"></div>
      </div>
    </section>

    <section id="{{ page.title }}" class="container content-section text-center">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          {% include social-buttons.html %}
        </div>
        <div class="col-2"></div>
      </div>
    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Tag Layout End -->
