<!-- Post list with extract Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">
	{% include head.html %}

	<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

		{% include navigation.html %}

    {% assign page_slug = page.title | slugify %}

    <section id="{{ page_slug }}" class="text-center content-section">
			<div class="row">
				<div class="col-2"></div>
				<div class="col-8">
					{{ page.content | markdownify }}

          <div class="outer-container__{{ page_slug }}">
            {%- assign tils = site.til | sort | reverse -%}
            {% for til in tils limit:site.til_paginate %}
            <div class="post-container__{{ page_slug }}">
              <div class="post-info-container__{{ page_slug }}">
                <ul class="post-info__{{ page_slug }}">
                  <li><span class="fa fa-calendar-o"></span> {{ til.date | date:"%B %d, %Y" }}</li>
                  <li><span class="fa fa-comment-o"></span> <a href="{{ site.baseurl }}{{ til.url }}/#comments-container">{% include aids/count-comments.html post=til %} Comments</a></li>
                  <li>
                    <span class="fa fa-hashtag"></span> 
                    {% for tag in til.tags %}
                      <a href="{{ site.baseurl }}/{{ tag }}.html">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                  </li>
                </ul>
              </div>
              <div class="post-content__{{ page_slug }}">
                <div class="post-title__{{ page_slug }}">
                  <h1>
                    <a href="{{ site.baseurl }}{{ til.url }}">{{ til.title }}</a>
                  </h1>
                </div>
                <div class="post-excerpt__{{ page_slug }}">
                  {{ til.content | truncatewords: 50 }}
                  <br />
                  <a href="{{ site.baseurl }}{{ til.url }}">Read on  <span class="fa fa-angle-right"></span></a>
                </div>
              </div>
            </div>

            {% unless forloop.last %}<hr />{% endunless %}
            {% endfor %}
          </div>

          {%- assign tils_size = tils | size -%}
          {%- assign totalTILs = tils_size | plus: 0 -%}
          {%- if totalTILs > site.til_paginate -%}
          <div id="loadMore__{{ page_slug }}">Load More</div>
          {%- endif -%}

        </div>
        <div class="col-2"></div>
      </div>

		<section class="container content-section text-center">
			<div class="row">
				<div class="col-2"></div>
				<div class="col-8">
					{% include social-buttons.html %}
				</div>
				<div class="col-2"></div>
			</div>
		</section>

		{% include footer.html %}

		{% include js.html %}

	</body>
</html>


<!-- Post list with extract Layout End -->
